
<nav>
    <div class="nav-wrapper #0091ea light-blue accent-4">
      <a href="#!" class="brand-logo">Administración central</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>{{#link-to 'inicio'}}Inicio{{/link-to}}</li>
        <li>{{#link-to 'crearUnidad'}}Crear unidad{{/link-to}}</li>
        <li>{{#link-to 'listaAdmin'}}Lista de administradores{{/link-to}}</li>
        <li>{{#link-to 'crearAdmin'}}Crear administrador{{/link-to}}</li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>{{#link-to 'inicio'}}Inicio{{/link-to}}</li>
        <li>{{#link-to 'crearUnidad'}}Crear unidad{{/link-to}}</li>
        <li>{{#link-to 'listaAdmin'}}Lista de administradores{{/link-to}}</li>
        <li>{{#link-to 'crearAdmin'}}Crear administrador{{/link-to}}</li>
      </ul>
    </div>
  </nav>
